{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "env": {
        "browser": true
    },
    "rules": {
        "indent": ["error", 4],
        "import/prefer-default-export": [false],
        "no-await-in-loop": [0],
        "max-len": [120, "error"]
    }
}
