<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{htmlWebpackPlugin.options.pkg.full_name}} - {{htmlWebpackPlugin.options.pkg.version}}</title>
</head>

<body>
    <div class="page-content">
        <section>
            <div class="title">
                <h1>{{htmlWebpackPlugin.options.pkg.full_name}}</h1>
                <h4><span class="label">{{htmlWebpackPlugin.options.pkg.version}}</span></h4>
            </div>
            <div id="app"></div>
        </section>
    </div>
</body>

</html>
