<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{htmlWebpackPlugin.options.pkg.full_name}} - {{htmlWebpackPlugin.options.pkg.version}}</title>
</head>

<body>
    <div id="root"></div>
</body>

</html>
